:root {
  --layer-rotate: -50deg;
  --layer-skewY: 25deg;
  --layer-max-translateY: -50px;
  --animation-duration: 2s;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.logoList {
  position: absolute;
  top: 50%;
  left: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logoList > li {
  padding-right: 150px;
  list-style-type: none;
}

.logoList img {
  position: absolute;
  width: 70px;
  height: 70px;
  transform: rotate(var(--layer-rotate)) skewY(var(--layer-skewY));
}

.logo:hover {
  z-index: 5;
  animation-name: animationLogo;
  animation-duration: var(--animation-duration);
}

.layer {
  animation-name: animationLogo;
  animation-duration: var(--animation-duration);
}

.layer-0 {
  z-index: 4;
  opacity: 0.8;
  animation-delay: 0.3s;
}

.layer-1 {
  z-index: 3;
  opacity: 0.6;
  animation-delay: 0.5s;
}

.layer-2 {
  z-index: 2;
  opacity: 0.4;
  animation-delay: 0.7s;
}

.layer-3 {
  z-index: 1;
  opacity: 0.2;
  animation-delay: 0.9s;
}

@keyframes animationLogo {
  to {
    transform: translateY(var(--layer-max-translateY))
      rotate(var(--layer-rotate)) skewY(var(--layer-skewY));
  }
}
