body
{
    margin: 0;
    padding: 0;
    background: #262626;
}
.center 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pulse
{
    width: 100px;
    height: 100px;
    background: #177c80;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    font-family: verdana;
    text-transform: uppercase;
    animation: animate 3s linear infinite;
    text-align: center;
}
@keyframes animate
{
    0%
    {
        box-shadow: 0 0 0 0 rgba(55, 209, 201, 0.7), 0 0 0 0 rgba(24, 153, 104, 0.7);
    }
    40%
    {
        box-shadow: 0 0 0 50px rgba(55, 209, 201, 0), 0 0 0 0 rgba(55, 209, 201, 0.7);
    }
    80%
    {
        box-shadow: 0 0 0 50px rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    }
    100%
    {
        box-shadow: 0 0 0 0 rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    }
}