body
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}
.btn
{
    border: 2px solid rgb(0, 165, 124);
    background: none;
    color: rgb(0, 165, 124);
    padding: 20px 40px;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}
.btn:hover
{
    color: white;
}
.btn::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 165, 124);
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0%;
    transition: all 0.5s;
}
.btn:hover::before{
    height: 190%;
}

